body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.main-nav .link-logo {
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-nav .text-studio-logo {
  color: #2e2f42;
}
.main-nav .main-nav-list {
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5;
}
.main-nav .link {
  text-decoration: none;
  color: #434455;
}
.main-nav .link:hover {
  color: #404bbf;
}
.main-nav .link:focus {
  color: #404bbf;
}
.contact-info .contact-link {
  font-style: normal;
  color: #434455;
  text-decoration: none;
}
.contact-info .contact-link:hover {
  font-style: normal;
  color: #404bbf;
}
.contact-info .contact-link:focus {
  font-style: normal;
  color: #404bbf;
}
.contact-info-list {
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071428571428571;
}
.features {
  list-style-type: none;
}
.title-features {
  font-size: 20px;
  line-height: 1.2;
}
.text-features {
  font-size: 16px;
  line-height: 1.5;
}
.title-team {
  font-size: 36px;
  line-height: 1.1;
}
.our-team-list {
  list-style-type: none;
}
.team-names {
  font-size: 20px;
  line-height: 1.2;
}
.team-specialization {
  line-height: 1.5;
}
.title-portfolio {
  font-size: 36px;
  line-height: 1.1;
}
.our-portfolio-list {
  list-style-type: none;
}
.projects-name {
  font-size: 20px;
  line-height: 1.2;
}
.projects-type {
  line-height: 1.5;
}
.footer .footer-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
}
.footer .text-studio-logo {
  color: #f4f4fd;
}
.footer .footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.button-solutions {
  text-decoration: none;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
}
.button-solutions:hover {
  text-decoration: none;
  background-color: #404bbf;
}
.button-solutions:focus {
  text-decoration: none;
  background-color: #404bbf;
}
